@font-face {
	font-family: 'lunabar';
	src: url('./fonts/lunabar.ttf');
	}

#landing {
	transform: translate(-50%,-50%);
	position: absolute;
	left: 50%;
	top: 50%;
}

h1, h2 {
	font-family: 'lunabar';
	width: 100%;
	text-align: center;
	color: #FF2020;
	}

h1 {
	font-size: 24pt;
	}

h2 {
	font-size: 20pt;
	}

body {
	font-family: helvetica;
	font-size: 14pt;
	color: black;
	background-color: #90a4a4;
}
