@font-face {
	font-family: 'lunabar';
	src: url('./fonts/lunabar.ttf');
	}

h1, h2 {
	font-family: 'lunabar';
	width: 100%;
	text-align: center;
	color: #FF2020;
	}

h1 {
	font-size: 18pt;
	}

h2 {
	font-size: 16pt;
	}

body {
	font-family: helvetica;
	font-size: 14pt;
	color: black;
	background-color: #605454;
}
